{% extends "main.html" %} {% include "header.html" %} {% block content %}
<div class="top-page__text-box">
  <h2 class="heading--secondary">Category list</h2>
  <p>
    A list of all the colors supported by most modern browsers divided into
    categories.
  </p>
  <p>Check them out, or create custom categories and colors.</p>
  <a href="{{ url_for('categoriesJSON') }}" class="link--default"
    >See JSON for categories</a
  >
  -
  <a href="{{ url_for('colorsJSON') }}" class="link--default"
    >See JSON for colors</a
  >
  <div class="flash">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flash-list">
      {% for message in messages %}
      <li>
        <strong> {{ message }} </strong>
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>
</div>

<ul class="category-list__container">
  <!-- If there are categories -->
  {% if categories !=[] %} {% for i in categories %}
  <li class="category-list__item">
    <div class="category-list__item--inner">
      <h3 class="heading--tertiary">
        <a href="category/{{ i.id }}" class="category-item--name"
          >{{ i.name }}
        </a>
      </h3>
      <p>Created by {{ i.creator }}</p>
      {% if i.all_colors !=[] %} {% for j in i.all_colors %}
      <p
        style="background-color:{{
          j.hex_code
        }}; height: 20px; width: 20px; display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 1px solid black;"
      ></p>
      {% endfor %} <br />{%else%}
      <p>No colors added yet</p>
      {% endif %} {% if current_user["id"] == i["user_id"]%}
      <br />
      <div class="category-list__links">
        <a href="category/{{ i.id }}/edit" class="link--default">Edit name</a>
        -
        <a href="category/{{ i.id }}/delete" class="link--default"
          >Delete category</a
        >
      </div>
      {%endif%}
    </div>
  </li>
  {% endfor %}
  <li class="category-list__item">
    <div class="category-list__item--inner">
      <div class="link--create-new-card">
        <a href="{{ url_for('newCategory') }}" class="link--default"
          >Add new category</a
        >
      </div>
    </div>
  </li>
  {% else %}
  <!-- If there are no categories yet -->
  <li class="category-list__item">
    <div class="category-list__item--inner">
      <div class="link--create-new-card">
        <a href="{{ url_for('newCategory') }}" class="link--default"
          >Add first color</a
        >
      </div>
    </div>
  </li>
  <li class="category-list__item color-list__item--hidden-template">
    <div class="category-list__item--inner">
      <h3 class="heading--tertiary">CategoryName</h3>
      <p style="height: 20px; width: 20px; display: inline-block;"></p>
      <a href="#" class="link--default">Edit category</a>
      <a href="#" class="link--default">Delete category</a>
    </div>
  </li>
  {% endif %}
</ul>
{% endblock %}
