{% extends "main.html" %} {% include "header.html" %}{% block content %}
<h1>All colors!</h1>
<p>A list of all the colors supported by most modern browsers</p>
<h2>Category list</h2>
<p>See below all categories</p>
<a href="{{ url_for('newCategory') }}">Create New Category</a> -
<a href="{{ url_for('categoriesJSON') }}">See JSON for categories</a> -
<a href="{{ url_for('colorsJSON') }}">See JSON for colors</a>
<div class="flash">
  {% with messages = get_flashed_messages() %} {% if messages %}

  <ul>
    {% for message in messages %}
    <li>
      <strong> {{ message }} </strong>
    </li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
</div>

{% if categories !=[] %}
<ul class="category-list__container">
  {% for i in categories %}
  <li class="category-list__item">
    <a href="category/{{ i.id }}" class="category-item-a"
      ><h3>{{ i.name }}</h3>
    </a>
    {% if i.all_colors !=[] %} {% for j in i.all_colors %}
    <p
      style="background-color:{{
        j.hex_code
      }}; height: 20px; width: 20px; display: inline-block;"
    ></p>
    {% endfor %} {% endif %}
    <br />
    <a href="category/{{ i.id }}/edit">Edit category</a> -
    <a href="category/{{ i.id }}/delete">Delete category</a>
  </li>
  {% endfor %} {% endif %}
</ul>
{% endblock %}
