{% extends "main.html" %} {% include "header.html" %} {% block content %}
<h1>{{ category.name }}</h1>
<p>Created by {{ category.user.name }}, {{ category.user.id }}</p>
<p>See below all the colors for {{ category.name }}</p>
<a href="{{ url_for('newColor', category_id = category.id) }}">Add new color</a>
{% if colors !=[] %}
<ul>
  {% for i in colors %}
  <li class="color-item">
    <h2 class="color-item-name">{{ i.name }}</h2>
    <p>{{ i.hex_code }}</p>
    <p>{{ i.rgb_code }}</p>
    <p style="background-color:{{ i.hex_code }}; height: 20px; width: 40px"></p>
    <p>Added by {{ i.user.name }}</p>
  </li>
  {% endfor %} {% endif %}
</ul>
{% endblock %}
