{% extends "main.html" %} {% include "header.html" %}{% block content %}
<h2 class="heading--secondary">Edit {{ category.name }}</h2>
<form
  action="{{ url_for('editCategory',category_id = category.id)}}"
  method="post"
>
  <div class="form-input__group">
    <label for="name">Name:</label>
    <input
      required
      class="form-input--text"
      type="text"
      name="name"
      value="{{ category.name }}"
    />
  </div>
  <div class="form-input__group">
    <button class="form-btn--submit" type="submit">Save</button>
    <a class="form-btn--cancel" href="{{ url_for('showCategories') }}"
      >Cancel</a
    >
  </div>
</form>
{% endblock %}
