{% extends "main.html" %} {% include "header.html" %}{% block content %}
			<h2 class="heading--secondary">Edit Color {{color.name}}</h2>
			<form action="#" method = "POST">
				<div class="form-input__group">
					<label for="name">Name:</label>
					<input class="form-input--text" required type ="text" maxlength="50" name="name" value="{{color.name }}">
				</div>
				<div class="form-input__group">
					<label for="hex_code">Hex Code:</label>
					<input class="form-input--text" required id="hexCode" type ="text" maxlength="7" name="hex_code" value={{color.hex_code}}>	
				</div>
				<div class="form-input__group">
					<fieldset class="form-input__rgb">
						<legend>RGB code:</legend>
						rgb (
						<input class="form-input--number" required id="r" type="number" min="0" max="255" step="1" value="{{r}}" name="r" oninput="checkRgbValues()">,
						<input class="form-input--number" required id="g" type="number" min="0" max="255" step="1" value="{{g}}" name="g" oninput="checkRgbValues()">,
						<input class="form-input--number" required id="b" type="number" min="0" max="255" step="1" value="{{b}}" name="b" oninput="checkRgbValues()">
						)
					</fieldset>
				</div>
				<div class="form-input__group">
					<label for="palette">Palette:</label>
					<input type="color" id="palette" value="{{color.hex_code}}" style="height: 30px; width: 80px;">
				</div>
				<div class="form-input__group">
					<div id ="previewBox" style="background-color:gray; display:none"></div>
				</div>
				<br/>
				<div class="form-input__group">	
					<button class="form-btn--submit" type="submit" id="submit" type="submit">Save</button>
					<a class="form-btn--cancel" href ="{{url_for('showColors', category_id = category_id)}}">Cancel</button>
					</a>
				</div>
			</form>
			<script src="{{ url_for('static', filename='colorForm.js')}}"
			></script>
{% endblock %}