<div class="header__container">
  <div class="header__top">
    <h1>All colors!</h1>
  </div>
  <div class="header__bottom">
    <div class="breadcrum">
      <a href="{{ url_for('showCategories') }}" class="link--default">Home</a>
        {% if category %} / <span>{{ category.name }}{% endif %}</span> 
        {% if color %} / <a href="{{url_for('showColors', category_id = category_id)}}">{{ color.category.name }}</a> / {{ color.name }}{% endif %}
    </div>
    {% if current_user %}
    <div class="signin-btn">
      <a href="{{ url_for('showLogin') }}">
          <span class="signin-btn--username">{{current_user["username"]}}</span><img alt="{{current_user['username']}}" src="{{current_user['picture']}}" class="user-picture--thumbnail"></img>
      </a>
    </div>
    {% else %}
    <div class="signin-btn"><a href="{{ url_for('showLogin') }}">
        Login
    </a></div>
    
    {% endif %}
  </div>
</div>
