<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,700"
      rel="stylesheet"
    />
    <title>All Colors</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')

    }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container__outer">
      <div class="container__inner">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
