{% extends "main.html" %} {% include "header.html" %}{% block content %}
			<h2 class="heading--secondary">New Color</h2>
			<form action="#" method = "post">
				<div class="form-input__group">
					<label for="name">Name:</label>
					<input class="form-input--text" required id ="colorName" type ="text" maxlength="50" name="name" placeholder="Enter custom name">
				</div>
				<div class="form-input__group">
					<label for="hex_code">Hex Code:</label>
					<input class="form-input--text" required id="hexCode" type ="text" maxlength="7" name="hex_code" placeholder="Hex code #">
				</div>
				<div class="form-input__group">
					<fieldset class="form-input__rgb">
						<legend>RGB code:</legend>
						rgb (
						<input class="form-input--number" required id="r" type="number" min="0" max="255" step="1" value="0" name="r" style="width:40px"; oninput="checkRgbValues()">,
						<input class="form-input--number" required id="g" type="number" min="0" max="255" step="1" value="0" name="g" style="width:40px"; oninput="checkRgbValues()">,
						<input class="form-input--number" required id="b" type="number" min="0" max="255" step="1" value="0" name="b" style="width:40px"; oninput="checkRgbValues()">
						)
					</fieldset>
				</div>
				<div class="form-input__group">
						<label for="palette">Palette:</label>
						<input type="color" id="palette" style="height: 30px; width: 80px;">
				</div>
				<div class="form-input__group">
						<div id ="previewBox" style="background-color:gray; display: inline-block; height: 20px; width: 40px; display:none"></div>
				</div>
				<br/>
				<div class="form-input__group">
					<button class="form-btn--submit" type="submit" id="submit" type="submit">Create</button>
					<a class="form-btn--cancel" href ="{{url_for('showColors', category_id = category_id)}}">Cancel</button>
					</a>
				</div>
			</form>
			<script src="{{ url_for('static', filename='colorForm.js')}}"
			></script>
{% endblock %}

